
html{
    background: #ece5e5;
}



    

body{
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 40px;
    padding: 40px;
    color: #000;
    background: #fff;
    border-bottom: solid black;
    border-top: solid black;
}

    
a:any-link
{
    color: black;
}
h1{
    font-size: 3em;
    margin: 0;
   

}
h3{
    font-size: 18px;


}
section {
    display: flex;
    
}
article{
    margin: 20px;
    padding: 20px;
}
article:nth-last-of-type(1){
    
    flex-direction: column;
}
article:nth-of-type(2){

flex-direction: column;
}
article:nth-of-type(3){
flex: 20px;
}
article:nth-of-type(4){

    flex: 20px;
    }
    article:nth-of-type(5){

        flex-direction: column;
        }

    .index-Nav{
        position: sticky;
        background-color: #ccc;
        top: 0;
    }
    .index-Nav ul{
        margin: 0;
        padding: 0;
        border:2px solid darkgray;
        overflow: hidden;


    }
    .index-Nav li{
        display: inline;
      float: left;

    }
    .index-Nav li a {
        padding: 20px 22px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;


    }
       
  



.index-time{
    line-height: 20px;
    font-size: 20px;
}
h2{
    font-size: 2em;

}
p{
    line-height: 35px;
    font-size: 22px;
    text-indent: 30px;
    margin-right: 40px;
    

  

}

.index-img{
    
    filter: drop-shadow(30px 10px 4px lightgray);
  
  
    
}
figure{
    float: left;
    font-size: 18px;
    text-align: center;

}
.index-img2{
    
    filter: drop-shadow(30px 10px 4px lightgray);
    
}

.index-table tr,th,td{
    border: 2px   solid black;
    background-color: #fff;
    line-height: 18px;
    font-size: 20px;
    
}
.index-table{
    background: #ece5e5;
    width: 100%;
 
}
.index-table tr th{
    height: 20px;
    width: 20%;
}
.index-table table{
    height: 100%;
    
    
}
    

.index-h2 form {
    font-size: 18px;
   height: 100%;
width: 100%;
}
.index-h2{
    background: #ece5e5;
   width: 100%;
   padding-left: 200px;
}
.button{
margin-left: 300px;
    border: 0;
    padding: 10px 30px;
    background: rgb(127, 96, 136);
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  flex-direction: column;
  

}
.hobbies li{
    display: inline;
}
.hobbies ul, li{
    line-height: 35px;
    font-size: 22px;

}
#img-about{
    filter: drop-shadow(30px 10px 4px lightgray);
    float: left;


}


    #body-contact form{
        width: 100%;
        margin-top: 100px;
       

    }
#body-contact  div, input{
    width: 50%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
 

}

   





.comment button{
    border: 0;
    padding: 10px 30px;
    background: rgb(127, 96, 136);
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  flex-direction: column;
 
}
#Comment{
    width:  90%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    
}
  




