
html{
    background: #ece5e5;
}



    

body{
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 40px;
    padding: 40px;
    color: #000;
    background: #fff;
}
a:link{
    color:cornflowerblue; 
    
}
h1{
    font-size: 3em;
    margin: 0;

}
.index-Nav ul{
    line-height: 35px;
    font-size: 18px;
    border-style: double;

    list-style: none;
    
    
    
  
}
.index-Nav li{
    display: inline;
    padding-right: 100px;
    font-family: "Times New Roman";
    font-size: 20px;
    
}
.index-time{
    line-height: 20px;
    font-size: 20px;
}
h2{
    font-size: 2em;

}
p{
    line-height: 35px;
    font-size: 22px;
    text-indent: 30px;
    margin-right: 40px;
    

  

}

.index-img{
    border-bottom: 5px solid black;
    filter: drop-shadow(30px 10px 4px lightgray);

    
}
.index-table tr,th,td{
    border: 2px   solid black;
    line-height: 18px;
    font-size: 18px;
}
.index-h2 form {
    font-size: 18px;
}
.button{

    border: 0;
    padding: 10px 30px;
    background: rgb(127, 96, 136);
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  flex-direction: column;

}
.hobbies ul, li{
    line-height: 35px;
    font-size: 22px;

}
#img-about{
    filter: drop-shadow(30px 10px 4px lightgray);


}
#body-contact form, div, input{
    width: 100%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    

}
.comment label{
  display: flex;
  flex-direction: column;
 



}
.comment button{
    border: 0;
    padding: 10px 30px;
    background: rgb(127, 96, 136);
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  flex-direction: column;
 
}
#Comment{
    width:  90%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    
}
  




